<!DOCTYPE HTML>
<html>
 <head>
 <div class = "tweethead">
  <div class = "tweetheadh1" link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet"><%= link_to 'Buzzling', '/tweets'%>
</div>
  </div>
</head>

<body>
<div class = "deletedparent">
<div class = "deleted">
DLETED!
</div>
</div>
