<!DOCTYPE HTML>
<html>
 <head>
 <div class = "tweethead">
  <div class = "tweetheadh1" link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">Buzzling</div>
  </div>
 </head>
 <body>
 <div class = "tweetbody_parent">
  <% @tweets.each do |tweet| %>
  <div class = "tweetbody">

  <div class = "tweetname"><%= tweet.name %></div>
  <div class = "tweetdate"><%= tweet.created_at %></div>
  <div class = "tweettext"><%= tweet.text %></div>
  <div class = "contents_image"style = "background-image: url(<%= tweet.image %>);"></div>
  </div>
  </div>
 

<% end %>
 </body>
</html>