<h1>hello</h1>

<% @tweets.each do |tweet| %>

<%= tweet.name %>
<%= tweet.text %>
<div class = "contents_image"style = "background-image: url(<%= tweet.image %>);">
</div>
<%= tweet.created_at %>

<% end %>