

<div class = "search_body">
<div class = "search_pa">
<% @tweets.each do |tweet| %>
<div class = "pa">
  <%= tweet.user.nickname %>
 <%= simple_format(tweet.text) %>
<div class = "search_image" style = "background-image: url(<%= tweet.image %>);"></div>

 </div>
<% end %>
</div>
</div>

 <head>
 <div class = "edithead">
  <div class = "editheadh1" link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet"><%= link_to 'Buzzling', '/tweets'%></div>
  </div>
  
 </head>
