body{
  background-color: #f0f0f0;
font-size: 14px;
color: #333;
margin: 0 auto;}
h1,h2,h3,h4,h5,h6,p{
  padding: 10px 0;
  margin: 0;
}
.tweethead{
  
  font-family: 'Ubuntu Condensed', sans-serif;

  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #00adb5
}
.tweetheadh1{
  // border:solid 1px #000;
  height: 100px;
  font-size: 60px;
  text-align: center;
  padding-top: 15px;
}
body{
  
  background-color: #303841;
  color: #ffffff;
}
.tweetbody_parent{
  // border:solid 1px #000;
  margin-top: 140px;
}
.tweetbody{
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-size: medium;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  background-color: #00acb5ec;
  border-radius: 15px;
  height: 300px;
  margin-top: 5px;
  position: relative;
  
  background: -moz-linear-gradient(#00acb5d2, #ecdfdf);
    background: -webkit-linear-gradient(#00acb5d2, #eeeeee);
    background: linear-gradient(to right, #00acb5d2, #eeeeee);
}
.tweetname{
  position: absolute;
  font-size: 30px;
  top: 60px;
  left: 220px;
}
.tweetdate{
position: absolute;
top: 270px;
left: 480px;

}
.tweettext{
  top: 100px;
  background-color: #303841ce;
  // border-radius: 15px;
  position: absolute;
  padding: 10px;
  width: 450px;
  margin-left: 220px;
  

}
.contents_image{
  // border:solid 1px #000;
  top: 80px;
  background-size: contain;
  background-repeat: no-repeat;
 height: 180px;
 width: 180px;
 margin-left: 20px;
position: absolute;
}
.indexpost a{
  background-color: #ffffff;
  text-align: center;
  padding-top: 1vh;
  width: 8vw;
  height: 4vh;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  text-decoration: none;
  color: #757575;
  margin-left: 30vw;
  top: 5vh;
  position: absolute;

}
